$bgcolor: red;


.area{
    border: 2px solid blue;
    height: 500px;
    width: 100%;


  .area__circle{
    width: 80px;
    height: 80px;
    background: $bgcolor;
    border-radius: 50%;

    .area__circle__red{
        background: $bgcolor;
    }
  }
}

.progress{
  height: 50px;
  width: 300px;
  border: 1px solid red;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &__line{
     height: 100%;
     width: 35%;
     background: rosybrown;

   



  }

  &__count {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 18px;
    font-size: 20px;
    font-weight: bold;


  }

}

.users{
  margin: 30px;
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;


  .card{
    width: 100%;
    margin-bottom: 5px;
    height: 160px;
    background-color: cadetblue;

  }
}


.cprogress{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid yellow;
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  border-top: 20px solid red;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
 

  &:after{
    content: '25%';
    font-size: 30px;
    font-weight: bold;
    transform: rotate(-45deg);
  }

}

.gradient{
width: 150px;
height: 40px;
border-radius: 6px;
background: linear-gradient(to right, red, blue);
margin: 30px;
padding: 2px;


&__button{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 20px;
  border-radius: 6px;

}


}

.btn-gradient{
  background: linear-gradient(to top, green, red);
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;


  &::after{
    width: 196px;
    height: 46px;
    background-color: white;
    content: 'Cancel';
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }


}